@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans&display=swap');

:root{
    --darkergradient: linear-gradient(to bottom, rgb(19, 19, 19), rgb(4, 4, 4));
    --darkgradient: linear-gradient(to bottom, rgb(59, 59, 59), rgb(19, 19, 19));
    --mediumgradient: linear-gradient(to bottom, rgb(99, 99, 99), rgb(59, 59, 59));
    --accentcolor: rgb(183, 0, 255, 0.5);
}

body{
    font-family: 'Nunito Sans', sans-serif;
    background-color: rgb(12, 12, 12);
    color: white;
    margin: 0px;
    padding: 0px;
}

.log-in-container{
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: none;
    pointer-events: none;
}

.log-in{
    background: var(--darkgradient);
    position: fixed;
    width: 50%;
    height: 50%;
    left: 25%;
    top: 25%;
    border-bottom: rgb(59, 59, 59) solid 2px;
    border-radius: 16px;
}

header{
    width:100%;
    min-height: 64px;
    position: absolute;
    left: 0%;
    top: 0px;

    background: var(--darkgradient);
    color: white;
    text-align: center;
    border-bottom: rgb(59, 59, 59) solid 2px;
    border-radius: 16px;
}

nav{
    width: 12.5%;
    height: calc(100% - 66px);
    position: absolute;
    left: calc(0px - 13%);
    top: 66px;
    background: var(--darkergradient);
    box-shadow: 4px 0px 8px black, 8px 0px 16px rgba(0, 0, 0, 0.349);
    border-radius: 16px;
    overflow: hidden;
    transition: 0.1s;

    /*
    animation-name: navpos;
    animation-direction: normal;
    animation-duration: 0.1s; */

}

@keyframes navpos{
    from {width: 0%;}
    to {width: 12.5%;}
}

main{
    width: 75%;
    margin: auto;
    margin-top: 80px;
}

section{
    height: 320px;
    background: var(--darkgradient);
    border-radius: 16px;
}

.palette-button, .palette-button:hover, .palette-button:active{
    width: 32px;
    background: transparent;
    border-style: none;
    float: right;
    margin-top: 16px;
    margin-right: 32px;
}

.navButton, .navButton:hover, .navButton:active{
    width: 32px;
    position: absolute;
    top: 16px;
    left: 16px;
    background: transparent;
    border-style: none;
}

.log-in-button, .log-in-button:hover, .log-in-button:active{
    width: 64px;
    float: right;
    margin-top: 16px;
    margin-right: 32px;
}

.logo{
    width: 75%;
    height: 48px;
    margin: 8px;
    background: linear-gradient(165deg, var(--accentcolor) 20%, transparent 50%);
    border-radius: 16px;
    text-align: left;
    float:left;
}

.logo-icon{
    width: 48px;
    height: 100%;
    float: left;
    margin-left: 64px;
}

.paletteDropdown{
    width: 80px;
    position: absolute;
    top: 63px;
    right: 96px;
    text-align: center;
    
    background: var(--darkergradient);
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    display: none;
}

.paletteButtons{
    width: 64px;
    margin: auto;
}

button, button:active{
    transition-duration: 0.1s;
    width: 100%;
    margin-bottom: 8px;
    background: var(--darkgradient);
    border: rgb(59, 59, 59) solid 2px;
    color: lightgray;
}

button:hover{
    color: white;
    background: var(--mediumgradient);
}

p{
    padding: 16px;
}

.nav-links{
    display:block;
    padding: 0px;
    list-style: none;
    width: 75%;
    margin: auto;
    margin-top: 16px;
    font-size: 24px;
}

.nav-links a{
    display:block;
    width: 100%;
    margin-right: 16px;
    color: white;
    text-decoration: none;
    transition: 0.1;
    padding-left: 16px;
}

.nav-links a:hover{
    width: 100%;
    background: linear-gradient(to right, var(--accentcolor), transparent);
    text-shadow: 0 0 10px #fff, 0 0 20px var(--accentcolor);
}

hr{
    height: 0px;
    border-style: solid 1px;
    border-color: var(--accentcolor);
}

.x-button, .x-button:hover, .x-button:active{
    width: 32px;
    height: 32px;
    background: none;
    border: none;
    float: right;
    margin-right: 8px;
}